.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #8c9af9;
    color: white;
  }
  
  .header-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-nav-link {
    color: rgb(243, 243, 247);
    text-decoration: none;
    font-weight: 500;
  }
  
  .header-nav-link:hover {
    text-decoration: underline;
  }